# Use this file to create Datacenter, Lan and K8s Cluster, K8s NodePool CRs.
# Required values for creating a Datacenter CR are:
# - Size,
# - Location.
apiVersion: compute.ionoscloud.crossplane.io/v1alpha1
kind: IPBlock
metadata:
  name: examplek8s
spec:
  forProvider:
    name: exampleIpBlock
    size: 3
    location: us/las
  providerConfigRef:
    name: example
---
# Required values for creating a Datacenter CR are:
# - Location.
apiVersion: compute.ionoscloud.crossplane.io/v1alpha1
kind: Datacenter
metadata:
  name: examplek8s
spec:
  forProvider:
    name: exampleDatacenter
    location: us/las
    description: test
  providerConfigRef:
    name: example
---
# Required values for creating a K8s Cluster CR are:
# - Name,
# - Public.
apiVersion: k8s.ionoscloud.crossplane.io/v1alpha1
kind: Cluster
metadata:
  name: examplek8s
spec:
  forProvider:
    name: exampleK8sCluster
    public: true
    #    k8sVersion: 1.22.6
  #    apiSubnetAllowList:
  #      -
  #    s3Buckets:
  #      - name:
  #    maintenanceWindow:
  #      time: "23:40:58Z"
  #      dayOfTheWeek: Friday
  writeConnectionSecretToRef:
    namespace: default
    name: kubeconfig
  providerConfigRef:
    name: example
---
# Required values for creating a Lan CR are:
# - DatacenterConfig (via ID or reference),
# - Public.
apiVersion: compute.ionoscloud.crossplane.io/v1alpha1
kind: Lan
metadata:
  name: examplek8s
spec:
  forProvider:
    name: exampleLan
    public: false
    datacenterConfig:
      datacenterIdRef:
        name: examplek8s
  providerConfigRef:
    name: example
---
# Required values for creating a K8s NodePool CR are:
# - Name,
# - ClusterConfig (via ID or reference),
# - DatacenterConfig (via ID or reference),
# - NodeCount,
# - CoresCount,
# - RAMSize,
# - AvailabilityZone,
# - StorageType,
# - StorageSize.
# Note: If the NodePool is part of a Private K8s Cluster,
# it is required to set gatewayIp field.
apiVersion: k8s.ionoscloud.crossplane.io/v1alpha1
kind: NodePool
metadata:
  name: examplek8s
spec:
  forProvider:
    name: exampleK8sNodepool
    nodeCount: 1
    # Note: If the CPU Family is not set, the Crossplane Provider
    # will set the first one offered by the Datacenter.
    cpuFamily: AMD_OPTERON
    coresCount: 1
    ramSize: 2048
    availabilityZone: AUTO
    storageType: HDD
    storageSize: 10
    publicIpsConfigs:
      ipsBlockConfigs:
        - ipBlockIdRef:
            name: examplek8s
    #    gatewayIp:
    #    lans:
    #      - lanConfig:
    #          lanIdRef:
    #            name:
    #        dhcp:
    #        routes:
    #          - network:
    #            gatewayIp:
    #    autoScaling:
    #      minNodeCount: 1
    #      maxNodeCount: 2
    #    labels:
    #      key: "value"
    #    annotations:
    #      key: "value"
    datacenterConfig:
      datacenterIdRef:
        name: examplek8s
    clusterConfig:
      clusterIdRef:
        name: examplek8s
  providerConfigRef:
    name: example
