name: CI [Weekly]

on:
  schedule:
    # The job will run at 9am UTC
    # every week
    - cron: '0 09 * * WED'
  workflow_dispatch: { }

permissions:
  contents: read
  security-events: write

env:
  DOCKER_BUILDX_VERSION: 'v0.20.1'

jobs:
  trivy:
    runs-on: ubuntu-latest
    if: needs.detect-noop.outputs.noop != 'true'
    steps:
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: ${{ env.DOCKER_BUILDX_VERSION }}
          install: true
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Fetch History
        run: git fetch --prune --unshallow
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Find the Go Build Cache
        id: go
        run: echo "::set-output name=cache::$(make go.cachedir)"
      - name: Cache the Go Build Cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.go.outputs.cache }}
          key: ${{ runner.os }}-build-trivy-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-build-trivy-
      - name: Cache Go Dependencies
        uses: actions/cache@v4
        with:
          path: .work/pkg
          key: ${{ runner.os }}-pkg-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-pkg-
      - name: Vendor Dependencies
        run: make vendor vendor.check
      - name: Build Artifacts
        run: make build
        env:
          BUILD_ARGS: "--load"
      - name: Get Provider Image ID
        run: echo "IMAGE_ID=$(make docker.list | grep "crossplane-provider-ionoscloud" | tr -s ' ' | cut -d' ' -f3)" >> $GITHUB_ENV
      - name: Run Trivy vulnerability scan
        id: trivy-scan
        uses: aquasecurity/trivy-action@0.30.0
        with:
          image-ref: ${{ env.IMAGE_ID }}
          format: 'sarif'
          exit-code: 1
          severity: 'CRITICAL,HIGH'
          output: 'trivy-results.sarif'
      - name: Upload Trivy scan results to GitHub Security tab
        if: ${{ failure() && steps.trivy-scan.conclusion == 'failure' }}
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'

  govulncheck:
    runs-on: ubuntu-latest
    steps:
      - name: Run govulncheck
        uses: golang/govulncheck-action@v1
        id: govulncheck-scan
        with:
          go-version-file: 'go.mod'
          go-package: './...'
          output-format: 'sarif'
          output-file: 'govulncheck-results.sarif'
      - name: Upload govulncheck scan results to GitHub Security tab
        if: ${{ failure() && steps.govulncheck-scan.conclusion == 'failure' }}
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'govulncheck-results.sarif'
