# Private repositories that argo should know about
apiVersion: v1
kind: Secret
metadata:
  name: chartmuseum
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  name: chartmuseum
  type: helm
{{/*  url: http://chartmuseum:8080*/}}
  url: https://chartmuseum:8080
